@import url('https://fonts.googleapis.com/css?family=Comfortaa');
body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
  }

.filtro-caja{
    display: flex;
    flex-direction: row;
    height: 5rem;
    width: 100%;
}
.boton{
    font-family: Comfortaa;
    cursor: pointer;
    background: whitesmoke;
    height: 3rem;
    width: 33.33%;
    margin-top: 1rem;   
}
.boton:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.boton:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.tareas-caja{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    
    height: 32rem;
}
.agregar-caja{
    display: flex;
    align-content: center;
    justify-content: center;
}
.agregar-boton{
    width:15rem;
   
}
.agregar-input{
    width:20rem;

}
.nombretarea{
    font-family: Comfortaa;
    cursor: pointer;
    height: 3rem;
    text-align: left;
    width: 100%;
}
.nombretarea.false{
    background: brown;
}
